* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.post-box{
    width: 500px;
    margin: 100px auto;
    border-radius: 8px;
    height: 120px;
    display: flex;
    flex-direction: column;
}

.top {
    border: 1px solid silver;
    /* flex-grow: 1; */
    flex-basis: 60%;
    display: flex;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid #ddd;
}

.top input {
    flex-grow: 1;
    border: 1px solid #ddd;
    font-size: 24px;
    border-radius: 8px;
}

.top img {
    height: 50px;
    opacity: 0.7;
}

.bottom {
    border: 1px solid silver;
    /* flex-grow: 1; */
    flex-basis: 40%;
    display: flex;
}

.bottom > * 
/* .btn1 , .btn2 ,.btn3 */
                {
    border: 1px dashed pink;
    /* flex-grow: 1;
    หรือ flex-basis: 100% มันจะแย่งกันเอง */
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 4px;
    padding-top: 4px;
    cursor: pointer;
    color: deeppink;
}

.botton > * > span {
    color: #555;
}